<form action="login">
    <div>
      <label for="inputFirstName">First Name</label>
      <input type="text" id="firstName">
    </div>
  
    <div>
      <label for="inputLastName">Last Name</label>
      <input type="text" id="lastName">
    </div>
  
    <div>
      <label for="inputUsername">Username</label>
      <input type="text" id="username">
    </div>
  
    <div>
      <label for="inputPassword">Password</label>
      <input type="text" id="password">
    </div>
  
    <div>
      <label for="inputStreet">Street Address</label>
      <input type="text" id="street">
    </div>
  
    <div>
      <label for="inputCity">City</label>
      <input type="text" id="city">
    </div>
  
    <div>
      <label for="inputState">State</label>
      <input type="text" id="state">
    </div>
  
    <div>
      <label for="inputZip">Zip Code</label>
      <input type="text" id="zip">
    </div>
  
    <div>
      <label for="inputEmail">E-Mail</label>
      <input type="text" id="email">
    </div>
  
    <div><button (click)="onSubmit()">Submit</button></div>
  </form>